<!-- 1-hbnb.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?cache_id={{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?cache_id={{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css?cache_id={{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css?cache_id={{ cache_id }}">
    <link type="text/css" rel="stylesheet" href="../static/styles/8-places.css?cache_id={{ cache_id }}">
    <link rel="icon" href="../static/images/icon.png?cache_id={{ cache_id }}" />
    <script src="https://code.jquery.com/jquery-3.x.min.js"></script>
    <script src="../static/scripts/1-hbnb.js?cache_id={{ cache_id }}"></script>
    <title>HBnB</title>
  </head>
  <body>
    <!-- Rest of your HTML content remains unchanged -->
    <section class="filters">
      <div class="locations">
        <!-- Your existing code for locations -->
      </div>
      <div class="amenities">
        <h3>Amenities</h3>
        <h4>&nbsp;</h4>
        <div class="popover">
          <ul>
            {% for amenity in amenities %}
            <li>
              <input type="checkbox" data-id="{{ amenity.id }}" data-name="{{ amenity.name }}"> {{ amenity.name }}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <button type="button">Search</button>
    </section>
    <!-- Rest of your HTML content remains unchanged -->
  </body>
</html>
